@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

::-moz-selection {
  background: #515e63;
  color: #fff;
}

::selection {
  background: #515e63;
  color: #fff;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #e8ffe6;
}

::-webkit-scrollbar-thumb {
  background: #57837b;
}

body {
  font-family: 'Montserrat', "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  background-color: #e7e7e2;
  margin: 0;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header_menu {
  background-color: rgba(87, 131, 123, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_menu nav {
  margin-left: auto;
  margin-right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_menu nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
}

.header_menu nav ul li a {
  color: #000;
  display: block;
  padding: 1.5rem 1rem;
  text-decoration: none;
  margin-right: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.header_menu nav ul li a:hover {
  background-color: #515e63;
  color: #fefefe;
}

.header_menu nav ul :nth-last-child(1) {
  margin-right: 20px;
}

.header_menu nav .header_column {
  margin-left: 20px;
  height: 5vh;
}

.top_container {
  height: 100vh;
  position: relative;
  text-align: center;
}

.top_container .top_title {
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}

.top_container .top_title h1 {
  font-size: 35px;
}

.top_container .top_image {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}

.top_container .top_image img {
  border-radius: 50%;
  -webkit-filter: brightness(95%);
          filter: brightness(95%);
  width: 200px;
  height: auto;
}

.top_container .top_message {
  font-size: 16px;
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  text-align: left;
}

.about_container {
  height: 100vh;
  position: relative;
  text-align: center;
}

.about_container .about_message {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}

.about_container .about_message h2 {
  font-size: 45px;
}

.about_container .about_message p {
  word-break: break-all;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-size: 16px;
}

.service_container {
  text-align: center;
}

.service_container .service_message h2 {
  font-size: 45px;
}

.service_container .service_box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 1em;
  padding: 1em;
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
}

.service_container .service_box .service_data a .img_box {
  background: #000;
  width: 100%;
  overflow: hidden;
  border-radius: 4px;
}

.service_container .service_box .service_data a .img_box img {
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all .3s;
  transition: all .3s;
  width: 100%;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.service_container .service_box .service_data a .img_box img:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  opacity: 0.6;
}

.service_container .service_box .service_data .service_content h3 {
  margin: 10px 0px;
  padding: 2px 0px;
  font-size: 18px;
  text-align: left;
  border-bottom: solid 1px #515e63;
}

.service_container .service_box .service_data .link_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 2px;
  border-bottom: solid 1px #414242;
}

.service_container .service_box .service_data .link_box .link_button {
  text-decoration: none;
  position: relative;
  padding: 2px 5px;
  margin: 5px 5px;
  text-align: center;
  -webkit-transition: ease .3s;
  transition: ease .3s;
  font-weight: bold;
  font-size: 14px;
  color: #000;
}

.service_container .service_box .service_data .link_box .under_line:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(173, 173, 173, 0.5);
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.02, 0.94, 0.57, 0.96) 0s;
  transition: -webkit-transform 0.5s cubic-bezier(0.02, 0.94, 0.57, 0.96) 0s;
  transition: transform 0.5s cubic-bezier(0.02, 0.94, 0.57, 0.96) 0s;
  transition: transform 0.5s cubic-bezier(0.02, 0.94, 0.57, 0.96) 0s, -webkit-transform 0.5s cubic-bezier(0.02, 0.94, 0.57, 0.96) 0s;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: right top;
          transform-origin: right top;
}

.service_container .service_box .service_data .link_box .under_line:hover:before {
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.contact_container {
  height: 50vh;
  position: relative;
  text-align: center;
}

.contact_container .contact_message {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}

.contact_container .contact_message h2 {
  font-size: 45px;
}

.contact_container .contact_message ul {
  list-style: none;
}

.contact_container .contact_message ul li {
  text-align: left;
  font-size: 18px;
  margin: 5px 0;
}

.contact_container .contact_message ul li a {
  text-decoration: none;
  color: #000;
}

/*.slide_in{
    opacity: 1;
}*/
.slide_in_animation {
  -webkit-animation-name: SlideInAnimation;
          animation-name: SlideInAnimation;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

@-webkit-keyframes SlideInAnimation {
  from {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes SlideInAnimation {
  from {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.main_container {
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 80px;
  margin-bottom: 30px;
}

@media screen and (min-width: 891px) {
  .main_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 890px) {
  .main_container {
    display: box !important;
  }
}

.main_container .main_content .article_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 1em;
  padding: 1em;
  text-align: right;
  margin-left: auto;
}

.main_container .main_content .article_container .article_data {
  background-color: #fefefe;
  padding-right: 20px;
}

.main_container .main_content .article_container .article_data a {
  text-decoration: none;
}

.main_container .main_content .article_container .article_data a .img_box {
  background: #000;
  width: 100%;
  overflow: hidden;
  border-radius: 4px;
  margin: 10px;
}

.main_container .main_content .article_container .article_data a .img_box img {
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all .3s;
  transition: all .3s;
  width: 100%;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.main_container .main_content .article_container .article_data a .img_box img:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  opacity: 0.6;
}

.main_container .main_content .article_container .article_data a .article_content {
  color: #000;
  text-align: left;
  margin-left: 20px;
}

.main_container .main_content .article_container .article_data a .article_content h2 {
  font-size: 20px;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

.main_container .main_content .article_container .article_data a .article_content p {
  text-align: right;
}

.main_container .main_content .new_title {
  text-align: left;
  margin: 0 15px;
}

.main_container .main_content .new_title h2 {
  padding: 0.1rem 0rem;
  margin-bottom: 0.2rem;
  border-bottom: 3px solid #f6ba33;
  font-weight: bold;
  font-size: 26px;
}

.main_container .side_container .admin_info {
  background-color: #fefefe;
  border-radius: 15px;
  margin: 1em;
  padding-bottom: 2px;
}

.main_container .side_container .admin_info .admin_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 15px 0 15px;
}

.main_container .side_container .admin_info .admin_top .admin_image {
  margin: 5px;
}

.main_container .side_container .admin_info .admin_top .admin_image img {
  border-radius: 50%;
  -webkit-filter: brightness(95%);
          filter: brightness(95%);
  width: 75px;
  height: auto;
}

.main_container .side_container .admin_info .admin_top .admin_name {
  margin-left: 1%;
  font-weight: bold;
}

.main_container .side_container .admin_info .admin_description {
  padding: 0 15px;
  margin-bottom: 0;
}

.main_container .side_container .admin_info .portfolio_button {
  background-color: #57837b;
  padding: 0 15px 0 15px;
  width: 120px;
  border-radius: 10px;
  margin: 0 0 10px 15px;
  display: block;
  text-decoration: none;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.main_container .side_container .admin_info .portfolio_button p {
  color: #fefefe;
  margin: 3px 0 5px 0;
  text-align: center;
}

.main_container .side_container .admin_info .portfolio_button:hover {
  background-color: #515e63;
}

.footer_content {
  background-color: #7b908d;
  width: 100%;
  text-align: center;
  padding: 10px;
}

.footer_content a {
  color: #000;
  text-decoration: none;
}

.footer_content p {
  margin: 0;
}

.single_main {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 30px;
}

@media screen and (min-width: 891px) {
  .single_main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 890px) {
  .single_main {
    display: box !important;
  }
}

.single_main .article_box {
  background-color: #fefefe;
  margin-left: auto;
  margin-right: auto;
}

.single_main .article_box .breadcrumbs {
  padding-left: 15px;
}

.single_main .article_box .breadcrumbs span {
  text-decoration: none;
  color: #414242;
}

.single_main .article_box .breadcrumbs span a {
  text-decoration: none;
}

.single_main .article_box .breadcrumbs span:hover {
  color: #e95656;
}

.single_main .article_box .article_title {
  text-align: left;
  margin: 0 15px 5px 15px;
}

.single_main .article_box .article_title h1 {
  padding: 0.1rem 0rem;
  margin-top: 0;
  margin-bottom: 0.2rem;
  border-bottom: 3px solid #f6ba33;
  font-weight: bold;
  font-size: 26px;
}

.single_main .article_box .article_cat_tag {
  padding-left: 15px;
}

.single_main .article_box .article_cat_tag a {
  background-color: #f6ba33;
  text-decoration: none;
  color: #fefefe;
  padding: 3px;
  margin-left: 3px;
  border-radius: 10px;
}

.single_main .article_box .article_cat_tag a:nth-of-type(1) {
  background-color: rgba(87, 131, 123, 0.7);
}

.single_main .article_box .article_date {
  text-align: right;
  padding-right: 15px;
}

.single_main .article_box .article_image {
  text-align: center;
}

.single_main .article_box .article_image img {
  width: 95%;
  height: auto;
}

.single_main .article_box .article_sentence {
  font-size: 16px;
  padding: 2vw;
}

.single_main .side_container .admin_info {
  background-color: #fefefe;
  border-radius: 15px;
  margin: 1em;
  padding-bottom: 2px;
}

.single_main .side_container .admin_info .admin_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 15px 0 15px;
}

.single_main .side_container .admin_info .admin_top .admin_image {
  margin: 5px;
}

.single_main .side_container .admin_info .admin_top .admin_image img {
  border-radius: 50%;
  -webkit-filter: brightness(95%);
          filter: brightness(95%);
  width: 75px;
  height: auto;
}

.single_main .side_container .admin_info .admin_top .admin_name {
  margin-left: 1%;
  font-weight: bold;
}

.single_main .side_container .admin_info .admin_description {
  padding: 0 15px;
  margin-bottom: 0;
}

.single_main .side_container .admin_info .portfolio_button {
  background-color: #57837b;
  padding: 0 15px 0 15px;
  width: 120px;
  border-radius: 10px;
  margin: 0 0 10px 15px;
  display: block;
  text-decoration: none;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.single_main .side_container .admin_info .portfolio_button p {
  color: #fefefe;
  margin: 3px 0 5px 0;
  text-align: center;
}

.single_main .side_container .admin_info .portfolio_button:hover {
  background-color: #515e63;
}
/*# sourceMappingURL=style.css.map */